frr version 8.4
frr defaults traditional
hostname {{ inventory_hostname }}
log syslog informational
!
router bgp {{ asn }}
 bgp router-id {{ loopback }}
 no bgp ebgp-requires-policy
 no bgp network import-check
{% for link in p2p_links %}
 neighbor {{ link.peer_ip }} remote-as {{ link.peer_asn }}
 neighbor {{ link.peer_ip }} description {{ link.peer_name }}
{% endfor %}
 !
 address-family ipv4 unicast
  redistribute connected
{% if role == 'leaf' %}
  maximum-paths 2
{% endif %}
{% for link in p2p_links %}
  neighbor {{ link.peer_ip }} soft-reconfiguration inbound
{% endfor %}
 exit-address-family
 !
 address-family l2vpn evpn
{% for link in p2p_links %}
  neighbor {{ link.peer_ip }} activate
{% if role == 'spine' %}
  neighbor {{ link.peer_ip }} next-hop-unchanged
{% endif %}
{% endfor %}
{% if role == 'leaf' %}
  advertise-all-vni
{% endif %}
 exit-address-family
!
line vty
!
